/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/07/2019, 17:26:38
    Author     : julio.pereira
*/

        /* CSS profile */
.background {
    background-image: url('../images/profile/background_4K.jpg');
    width: 100%;
    height: 42.5rem;
    background-position: center;
    background-size: cover;
    margin: 0%;
    padding: 0%;
}

#bg-profile {
    width: 100%;
    max-height: 20%;
}

#profile {
    margin-top: -160px;
}

#profile-pic {
    border-radius: 50%;
    width: 320px;
    height: 320px;
}

#icons {
    margin-left: -100px;
}

#icon {
    height: 100px;
    width: 100px;
}

#icons-social {
    margin-left: -40px; 
}

#name {
    color: greenyellow;
    font-weight: bold;
    text-align: center; 
    margin-bottom: 30px; 
    margin-left: -300px; 
    margin-right: -300px;
}

#user-info {
    margin-top: 20px;
    text-align: center;
    color: white;
}

#portfolio {
    margin-top: 15px;
    margin-left: 15px;
}

#ultimasnoticias {
    margin-left: 15px;
}

#desafios {
    margin-left: -1%;
}

#port {
    color: white;
}

.portfolio-item {
    max-width: 200px;
    max-height: 200px;
}

.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;
}

.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
    background: #707070;
}

#border {
    border-style: dotted;
    border-color: transparent;
}

.padding {
    padding: 20px;
}

.social-icons {
    max-width: 50px;
    cursor: pointer;
}

#profile-image img {
    display: block;
    margin: auto;
}

#profile-image a {
    position: absolute;
    top: 71%;
    left: 45%;
}

.card1 {
    margin-left: -32%;
}

.card3 {
    margin-left: -32%;
}

#profile-image a {
    position: absolute;
    top: 78%;
    left: 45%;
    padding: 4px 3px 0px 3px;
    background-color: #0069B5;
    border-radius: 50%;
    color: white;
    border: #72A5FF solid 2px;
}

.modal-top {
    background-color: #0069B5; 
    border-top-left-radius: 30px!important; 
    border-top-right-radius: 30px!important;
}

#btn-x {
    position: absolute; 
    right: -4%; 
    margin-top: -5%; 
    border-radius: 50%;
    -moz-border-radius: 50%;	
    -webkit-border-radius: 50%;
    width: 62px; 
    height: 62px;
    box-shadow: -1px 1px 9px black;
}

#btn-cancel {
    width: 125px; 
    height: 55px; 
    border-radius: 20px; 
    font-size: unset;
    border: #191919 solid 1px;
    text-align: center; 
    position: relative; 
    right: 20%;
}

#btn-send {
    background-color: #00B59C; 
    color: white; 
    width: 125px; 
    height: 55px; 
    border-radius: 20px; 
    font-size: unset; 
    text-align: center; 
    position: absolute; 
    left: 20%;
}

.btn-send:hover {
    background-color: #177165; 
}

.desafio-title {
    color: white; 
    margin-top: 1%
}

.x {
    font-size: 15px; 
    color: red;
    font-weight: bold;
}

/* carousel desafios */
.container-desafio {
    position: relative; 
    height: 300px;
}
  
.image-desafio {
    opacity: 1;
    display: block;
    width: 450px;
    height: 300px;
    transition: .5s ease;
    backface-visibility: hidden;
    filter: brightness(70%)
}
  
.image-evento {
    opacity: 1;
    display: block;
    width: 450px;
    height: 300px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle-desafio {
    height: 100%!important;
    max-width: 50px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 95.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color: #444749;
    padding: 3px;
}
  
.text-image {
    position: absolute;
    top: 17rem;
    left: 1rem;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0px 20px 0px 0px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    letter-spacing: -0.8px;
    word-spacing: -0.4px;
    text-transform: uppercase;
}

.text-portfolio {
    position: absolute;
    top: 11rem;
    left: 2rem;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Fjalla One', sans-serif;
    font-size: 18px;
    letter-spacing: -0.8px;
    word-spacing: 1px;
    text-transform: uppercase;
}
  
.container-desafio:hover .middle-desafio {
    opacity: 1;
}
  
.btn-desafio {
    font-size: 10px;
    padding: 4px;
    height: 30px;
    width: 30px;
    margin: 3px;
}

.card1 {
  margin-left: -32%;
}

.card3 {
    margin-left: -32%;
}

.btn-blue {
    border:1px solid #003d66;
    font-size:100px;
    font-family:arial, helvetica, sans-serif; 
    padding: 20px 50px 20px 50px;
    display:inline-block;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
    font-weight:bold; 
    color: #0069B1;
    background-color: #005E9E; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#005E9E), to(#002138));
    background-image: -webkit-linear-gradient(top, #005E9E, #002138);
    background-image: -moz-linear-gradient(top, #005E9E, #002138);
    background-image: -ms-linear-gradient(top, #005E9E, #002138);
    background-image: -o-linear-gradient(top, #005E9E, #002138);
    background-image: linear-gradient(to bottom, #005E9E, #002138);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#005E9E, endColorstr=#002138);
}
    
.btn-blue:hover {
    border:1px solid #002138;
    background-color: #00406b; 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00406b), to(#000305));
    background-image: -webkit-linear-gradient(top, #00406b, #000305);
    background-image: -moz-linear-gradient(top, #00406b, #000305);
    background-image: -ms-linear-gradient(top, #00406b, #000305);
    background-image: -o-linear-gradient(top, #00406b, #000305);
    background-image: linear-gradient(to bottom, #00406b, #000305);
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#00406b, endColorstr=#000305);
}
    
.boxmodel {
    width: 300px;
    height: 150px;
    background: #0366BB;
    color: #FFF;
    padding: 5px;
    border: 1px solid #0366BB;
    margin-right: 35%;
    margin-top: 5%;
    margin-bottom: 3%
}

.perfil-footer{
    background-color: #00183A;
    font-size: 12px; 
    margin-top: -1%
}

html {
    background-image: radial-gradient(circle, #00243E, #00223B, #001C32, #001125, #000B1D);
    background-position-y: 10rem;
}

        /* CSS navbar */
#iconHeader {
    max-width: 26px;
    max-height: 26px;
}

#content {
    margin-top: 40px;
}

#navbar {
    background-color: #001e36;
}

#navbarProfile {
    justify-content: center;
}

.flex {
    display: flex;
}

.flex-item-1 {
    flex: 1;
}

.item-1 {
    flex-grow: 1;
}

.item-2 {
    flex-grow: 2;
}

        /* CSS student */
#fundo {
  margin-top: 8%;
  background-size: cover;
}

/* 
#frase{
    left: 30%;
} */

input,
select {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
}

#nome{
  width: 48%;
}

#sobrenome, #email {
  width: 97%;
}

#tel, #genero {
  width: 40%;
  margin-left: 45%;
}

#ra {
  width: 35%;
}

#unidade {
  margin-left: 0%;
}

#rg {
  width: 55%;
}

#cpf {
  margin-left: -30%;
  width: 55%;
}

#cargo {
  width: 55%;
}

#empresa {
  margin-left: -30%;
}

#face {
  margin-left: 300%;
  margin-top: -331%;
}
#yout {
  margin-left: 320%;
  margin-top: -347%;
  width: 14%;
}

#twt {
  margin-left: 337%;
  margin-top: -363%;
}

#link {
  margin-left: 355%;
  margin-top: -379%;
  width: 16%;
}

#button1 {
  width: 10%;
  border: 2px solid red;
  border-radius: 50px 20px;
  background-color: red;
  color: white;
}

.social-logo{
  max-width: 30px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 9.4px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0.6px z#00ef00, 0px 0px 0px #0aff0a;
  background: rgba(127, 255, 0, 0.99);
  border-radius: 15.1px;
  border: 2.5px solid rgba(203, 229, 79, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 6px 6px 7.3px rgba(169, 255, 255, 0), 0px 0px 6px rgba(195, 255, 255, 0);
  border: 5px solid rgba(100, 181, 118, 0);
  height: 24px;
  width: 25px;
  border-radius: 50px;
  background: #7FFF00;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11.9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(51, 255, 132, 0.46);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0.6px #00ef00, 0px 0px 0px #0aff0a;
  background: rgba(0, 255, 101, 0.46);
  border-radius: 15.1px;
  border: 2.5px solid rgba(203, 229, 79, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 6px 6px 7.3px rgba(169, 255, 255, 0), 0px 0px 6px rgba(195, 255, 255, 0);
  border: 5px solid rgba(100, 181, 118, 0);
  height: 24px;
  width: 25px;
  border-radius: 50px;
  background: #2c1600;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(0, 204, 81, 0.46);
  border: 2.5px solid rgba(203, 229, 79, 0);
  border-radius: 30.2px;
  box-shadow: 0px 0px 0.6px #00ef00, 0px 0px 0px #0aff0a;
}
input[type=range]::-ms-fill-upper {
  background: rgba(0, 255, 101, 0.46);
  border: 2.5px solid rgba(203, 229, 79, 0);
  border-radius: 30.2px;
  box-shadow: 0px 0px 0.6px #00ef00, 0px 0px 0px #0aff0a;
}
input[type=range]::-ms-thumb {
  box-shadow: 6px 6px 7.3px rgba(169, 255, 255, 0), 0px 0px 6px rgba(195, 255, 255, 0);
  border: 5px solid rgba(100, 181, 118, 0);
  height: 24px;
  width: 25px;
  border-radius: 50px;
  background: #2c1600;
  cursor: pointer;
  height: 5.2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(0, 255, 101, 0.46);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(51, 255, 132, 0.46);
}

        /* CSS project */
body {margin:2rem;}

.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }

.close {
  position:absolute;
  right: 15px;
  top: 15px;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

.icons-edit{
  margin-top: 40px;
}

.c-icons{
  color: black;
}
  
.modal-content{
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px!important;
  }

#btn-recursos {
    width: 150px;
    height: 90px;
    border-radius: 25px;
    text-align: center;
    background: #DDDDDD;
  }

#btn-recursos:hover {
    background-color: #343a40;
}
  
.form-control {
    border-radius: 15px!important;  
}

#button1 {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin-left: -1.8%;
} 

  #tituloImagem{
    width: 90%;
    margin-left: 5%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }

  #legendaImagem{
    width: 90%;
    margin-left: 5%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }

.btnSalvar{
    width: 140px!important;
    margin-right: 20%!important;
    font-size: 15px!important;
    -webkit-border-radius: 30px!important;
    -moz-border-radius: 30px!important;
    border-radius: 30px!important;
}

  #btnMaisRecursos{
    width: 140px;
    margin-right: 20%;
    font-size: 15px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }

  #btnContinuar{
    width: 200px;
    margin-right: 20%;
    font-size: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin-left: 60%;
    margin-bottom: 5%;
  }

  #btnFinalizar{
    width: 200px;
    margin-right: 20%;
    font-size: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin-top: 25%;
    margin-left: 20%;
    margin-bottom: -5%
  }

#adicionarImagem:hover{
  cursor: pointer;
}

#recursoImagem {
  overflow: auto;
}

div.relative {
  position: relative;
  width: 120px;
} 

div.absolute {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 38px;
}

div.relative-arquivos {
  position: relative;
  width: 120px;
} 

div.absolute-arquivos {
  position: absolute;
  bottom: 0;
  right: 4px;
  width: 25px;
  height: 46px;
}

div.absolute-imagem{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 18px;
}

div.relative-imagem{
  position: relative;
  width: 60px;
}

div.relative-midia {
  position: relative;
  width: 160px;  
} 

div.absolute-midia {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25px;
  height: 45px;
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
  }
  @-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }

.fadeIn {
  -webkit-animation: fadeIn 1s ease-in-out;
  -moz-animation: fadeIn 1s ease-in-out;
  -o-animation: fadeIn 1s ease-in-out;
  animation: fadeIn 1s ease-in-out;
  }
/*barra do dropdown box'*/
  #teste { 
      margin-left: 72%;
  }
  
   #eventtype{
      width: 90%;
  }
  #eventtitle{
      width: 90%;
  }
   #eventdescription{
      width: 90%;
      height: 2000%;
  }
  
  .vote label {
    cursor:pointer;
}
.vote label input{
    display:none;
}
.vote label i {
    font-family:FontAwesome;
    font-size:18px;
    -webkit-transition-property:color, text;
    -webkit-transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, ease-in;
    -moz-transition-property:color, text;
    -moz-transition-duration:.2s;
    -moz-transition-timing-function: linear, ease-in;
    -o-transition-property:color, text;
    -o-transition-duration:.2s;
    -o-transition-timing-function: linear, ease-in;
}
.vote label i:before {
    content:'\f005';
}
.vote label i.active {
    color:yellow;
}
